<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World!</title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <h3>Spesifikasi Smartphone</h3>
        <div class="column">
          <input
            type="text"
            placeholder="Temukan Smartphone"
            id="cariSmartphone"
          />
        </div>
        <div class="column-10">
          <input class="button-primary float-right" type="submit" value="Cari"
          id="cariKirim">
        </div>
      </div>
      <hr>
      <div id="hasil"></div>
    </main>
  </body>
</html>
