<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micron</title>
  </head>
  <body>
    <main class="container">
      <h3><a href="./index.html">Micron</a></h3>
      <hr>
      <h5>Lihat Spesifikasi</h5>
      <div class="pencarian">
        <input
          type="text"
          placeholder="iPhone 14 Pro Max"
          id="cariSmartphone"
        />
        <input
          class="button-primary"
          type="submit"
          value="Cari"
          id="cariKirim"
        />  
      </div>
      <hr>
      <div id="hasil"></div>
    </main>
  </body>
</html>
