<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micron</title>
  </head>
  <body>
    <main class="container">
      <h3><a href="./index.html">Micron</a></h3>
      <hr>
      <h4>Cari Smartphone</h4>
      <div class="kueri-cari">
        <input
          type="text"
          placeholder="Tuliskan nama smartphone"
          id="phone-cari"
        />
        <input
          class="button-primary"
          type="submit"
          value="cari"
          id="kirim-cari"
        />  
      </div>
      <hr>
      <div id="tempat-cari"></div>
    </main>
  </body>
</html>
